/* MAIN CSS */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(206, 206, 206);
    font-family: 'Work Sans', sans-serif;
}

a{
    text-decoration: none;
}

/* HEADER */

.header-button{
    text-align: center;
    width: 80%;
    box-shadow: 5px 3px 3px 2px gray;
    padding: 3% 0;
    border: 0;
    font-size: large;
    color: rgb(21, 21, 21);
    background-color: rgb(227, 227, 227);
    letter-spacing: 3px;
}

.header-button:hover{
    background-color: rgb(21, 21, 21);
    color: rgb(227, 227, 227);
}

.header-div{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-left: 4%;
    margin-top: 2%;
}

/* MAIN CONTAINER */

.main-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 'main-container-main-content main-container-main-content main-container-ordinary-content-one' 'main-container-main-content main-container-main-content main-container-ordinary-content-two';
    margin: 2%;
}
  
.main-container-main-content {
    grid-area: main-container-main-content;
    min-height: 400px;
    background-image: url('https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-size: cover;
    background-position: center;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: 5px 3px 3px 2px gray;
}
  
.main-container-main-content h1 {
    font-size: 400%;
    margin-bottom: 1%;
    color: rgb(227, 227, 227);
}
  
.main-container-main-content p {
    font-size: 120%;
    margin-top: 0;
    color: rgb(227, 227, 227);
    margin-bottom: 3%;
}

.main-container-ordinary-content {
    background: rgb(227, 227, 227);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: 5px 3px 3px 2px gray;
    padding: 15%;
}

.main-container-button{
    background-color: grey;
    color: rgb(227, 227, 227);
    padding: 1%;
}

.main-container-ordinary-content .price {
    font-size: 250%;
}
  
.main-container-ordinary-content-one {
    grid-area: main-container-ordinary-content-one;
}
  
.main-container-ordinary-content-two {
    grid-area: main-container-ordinary-content-two;
}
  

/* TYPE SECTION */
  
  .type-section {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 2%;
}
  
  .type-div {
    background: rgb(227, 227, 227);
    text-align: center;
    padding: 10% 15%;
    box-shadow: 5px 3px 3px 2px gray;
}

  .type-main-text{
    margin: 3% 0;
}
  
  i{
    font-size: 200%;
}

/* INFO-SECTION */

.info-section {
    background: rgb(227, 227, 227);
    box-shadow: 5px 3px 3px 2px gray;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 5%;
    width: 96%;
    margin: 2%;
}

.info-button{
    background-color: grey;
    color: rgb(227, 227, 227);
    padding: 2%;
}

.info-section-content{
    padding: 5%;
}

.info-ordinary-text{
    padding: 5% 0;
}

img{
    max-width: 100%;
}

/* PHOTOS */

.photos {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 2%;
}
  
.photos img {
    width: 100%;
    box-shadow: 5px 3px 3px 2px gray;
}

/* FOOTER */

.footer {
    margin-top: 2rem;
    background: gray;
    color: rgb(227, 227, 227);
    text-align: center;
    padding: 2%;
    margin: 2%;
}

/* MEDIA SCREEN */

@media (max-width: 1000px) {
    .main-container {
      grid-template-areas: 'main-container-main-content main-container-main-content main-container-ordinary-content-one' 'main-container-main-content main-container-main-content main-container-ordinary-content-two';
    }
  
    .main-container-main-content h1 {
      font-size: 250%;
    }
  
    .info-section{
      grid-template-columns: 1fr;
    }
  
    .info-button {
      display: block;
      text-align: center;
      margin: auto;
    }
}
  
@media (max-width: 700px) {
    .main-container {
      grid-template-areas: 'main-container-main-content' 'main-container-ordinary-content-one' 'main-container-ordinary-content-two';
    }

    .header-button{
        width: 94%;
        margin: 3%;
    }

    .header-div{
        display: block;
    }
}